.clickable {
  cursor: pointer;
}
.header {
  background-color: #131921;
  display: flex;
  justify-content: space-between;
  flex: 1;
  position: sticky;
  top:0;
  z-index: 100;
}
.header__left {
  display: flex;
  flex: 0.3;
}
.header__leftLogo {
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 5px;
}

.header__leftLogo:hover {
  cursor: pointer;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 5px;
}

.header__leftLogo > img {
  object-fit: contain;
  width: 95px;
  height: auto;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.header__leftLogo > p {
  color: white;
  align-self: center;
  margin-top: 10px;
}
.header__leftAddressIcon {
  color: white;
  justify-content: center;
  align-items: center;
  align-self: center;
  /* padding-top: 18px; */
}
.header__leftAddress {
  display: flex;
  justify-content: center;
}
.header__leftAddress:hover {
  cursor: pointer;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 5px;
}
.header__leftAddress:hover {
  cursor: pointer;
  border-color: white;
  border-radius: 2px;
}
.header__leftAddressDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}
.header__leftAddressDetail > p {
  color: white;
  margin: 0px;
}
.header__leftAddressGreeting {
  font-weight: 50;
  font-size: small;
  color: gray;
}
.header__leftAddressSelect {
  font-weight: 600;
}

.header__center {
  flex: 0.6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  padding-left: 5px;
}
.header__center > div > input {
  display: flex;
  width: 100%;
  height: 100%;
  /* height:inherit; */
  padding: 8px;
  border-width:0px;
  border:none;
}

.header__center > div > input:focus {
  outline: none;
}
.header__centerLeftButton {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  height: 65%;
}
.header__centerLeftButton:hover {
  cursor: pointer;
}
.header__centerLeftButton > p {
  padding-left: 5px;
  font-size: small;
  color: gray;
}
.header__centerSearchIcon {
  align-self: center;
}
.header__centerSearchIcon:hover {
  cursor: pointer;
}

.header__searchContainer {
  display: flex;
  background-color: #cd9042;
  align-items: center;
  
  
  
}
.header__right {
  flex: 0.3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.header__optionLineOne {
  font-size: small;
}
.header__optionLineTwo {
  /* font-size: 13px; */
  font-weight: 800;
}
.header__rightCart {
  color: white;
  display: flex;
  align-items: center;
}
.header__cartIcon {
  margin-left: 10px;
  margin-right: 10px;
}